**/.DS_Store
**/*.pyc
dist/*
examples/
myapp/*
.idea
.vscode
.coverage
.coverage.*
venv
*my_app_name*
.pytest_cache
.ruff_cache
.chat
playground/
my_app
poetry.lock.bkup
pyproject.toml.bkup
node_modules
package-lock.json
package.json
report.html
prof
dist
test.py
requirements.txt
users.json
users.json.lock
test.py
nextpy.log

