<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gift Guide - Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="theme-color" content="#712cf9">
</head>
<body class="bg-body-tertiary">
    <div id="themeSwitcher" class="dropdown position-fixed bottom-0 end-0 mb-3 me-3">
        <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button"
            aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme">
            <i class="fa fa-adjust" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
            <li><button type="button" class="dropdown-item" data-bs-theme-value="light"><i class="fa fa-sun-o" aria-hidden="true"></i> Light</button></li>
            <li><button type="button" class="dropdown-item" data-bs-theme-value="dark"><i class="fa fa-moon-o" aria-hidden="true"></i> Dark</button></li>
            <li><button type="button" class="dropdown-item active" data-bs-theme-value="auto"><i class="fa fa-adjust" aria-hidden="true"></i> Auto</button></li>
        </ul>
    </div>
    <div class="container">
        <main>
            <div class="pt-5 text-center">
                <h2>Gift Guide - Results</h2>
                <p class="lead">Here are the AI curated gift ideas based on your inputs:</p>
            </div>
            <div class="row g-5">
                {% for gift in gifts %}
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
                    <div class="product d-flex flex-column">
                        <img class="product-img" src="{{ gift.thumbnail }}" alt="{{ gift.title }}">
                        <div class="product-info d-flex flex-column">
                            <h4 class="mb-2">{{ gift.title }}</h4>
                            <h6 class="mb-2 text-muted"><i class="fa fa-tag"></i> Price: {{ gift.price }}</h6>
                            <p class="mb-1 small"><i class="fa fa-history"></i> Previous Price: {{ gift.old_price }}</p>
                            <p class="mb-1"><i class="fa fa-refresh"></i> Condition: {{ gift.second_hand_condition }}</p>
                            <p class="mb-1"><i class="fa fa-star"></i> Rating: {{ gift.rating }} / 5</p>
                            <p class="mb-1 small"><i class="fa fa-comment"></i> Reviews: {{ gift.reviews }}</p>
                            <p class="mb-1 small"><i class="fa fa-building"></i> Store Rating: {{ gift.store_rating }} / 5</p>
                            <p class="mb-1 small"><i class="fa fa-users"></i> Store Reviews: {{ gift.store_reviews }}</p>
                            <p class="mb-1 small"><i class="fa fa-exchange"></i> Number of Comparisons: {{ gift.number_of_comparisons }}</p>
                            <p class="mt-3 mb-3"><i class="fa fa-info-circle"></i> Description: {{ gift.snippet }}</p>
                            <a href="{{ gift.link }}" class="btn btn-primary mt-auto"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>
        <footer class="my-5 pt-5 text-body-secondary text-center text-small">
            <p class="mb-1">&copy; 2017–2023 Company Name</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="../static/script.js"></script>
</body>
</html>
